<ion-header translucent>
  <ion-toolbar>
    <ion-title>パスワード変更</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">閉じる</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      minlength="6"
      placeholder="PASSWORD"
      name="password"
      [(ngModel)]="password"
    ></ion-input>
  </ion-item>
  <ion-button
    type="submit"
    color="primary"
    expand="full"
    (click)="updatePassword()"
    [disabled]="password.length < 6"
  >変更
  </ion-button>
  <p class="passwordTips">※パスワードは6文字以上です。</p>
  <b *ngIf="force">他のメンバーのパスワードはリセット目的以外で変更しないでください。</b>
</ion-content>