<ion-header translucent>
  <ion-toolbar>
    <ion-title>アバター変更</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">閉じる</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div
    class="cropperWrapper"
    [ngStyle]="cropperWrapperStyle"
  >
    <image-cropper
      class="cropperRoot"
      format="png"
      [imageChangedEvent]="imageChangedEvent"
      (imageCropped)="imageCropped($event)"
    ></image-cropper>
  </div>

  <div>
    <ion-button
      type="submit"
      color="primary"
      expand="full"
      (click)="selectFileClick()"
      [disabled]="false"
    >ファイルを選択
      <input #fileInput type="file" accept="image/*" (change)="fileChangeEvent($event)">
    </ion-button>
  </div>
  <ion-button
    type="submit"
    color="primary"
    expand="full"
    (click)="uploadAvatar()"
    [disabled]="!croppedImage"
  >アップロード
  </ion-button>
  <b>※公序良俗又は著作権法に反するファイルはアップロードしないでください。</b>
</ion-content>