<ion-grid *ngIf="members.length; else skeleton">
  <ion-row>
    <ion-col size-sm="12" size-lg="2" size-md="6" *ngFor="let m of members">
      <ion-card (click)="openMemberInfoModal(m)">
        <ion-card-content slot="start">
          <ion-avatar>
            <img class="avatar" [alt]="m.name" [src]="m.avatarUrl">
          </ion-avatar>
        </ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>{{m.code}}</ion-card-subtitle>
          <ion-card-title>{{m.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-template #skeleton>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" size-lg="2" size-md="6" *ngFor="let _ of emptyArrayForSkeleton">
        <ion-card>
          <ion-card-content slot="start">
            <ion-avatar style="width: 120px; height: 120px;">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
          </ion-card-content>
          <ion-card-header>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>