<ion-grid>
  <ion-row>
    <ion-col size-sm="12" size-lg="2" size-md="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>メンバー数</ion-card-subtitle>
          <ion-card-title *ngIf="membersCount">{{ membersCount }}人</ion-card-title>
          <ion-card-title *ngIf="!membersCount">読込中</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size-sm="12" size-lg="2" size-md="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>結成から</ion-card-subtitle>
          <ion-card-title>{{ teamAge }}日</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
