<ion-list>
  <ion-item *ngFor="let log of logs">
    <ion-label>
      <h2>{{log.operation.name}}({{log.operation.operationCode}})</h2>
      <h3 *ngIf="log.requester; else noRequester"><b>リクエスタ:</b> {{log.requester.name}}({{log.requester.code}})</h3>
      <h3 *ngIf="log.target; else noTarget"><b>ターゲット:</b> {{log.target.name}}({{log.target.code}})</h3>
      <ng-template #noRequester><h3><b>リクエスタ:</b> なし</h3></ng-template>
      <ng-template #noTarget><h3><b>ターゲット:</b> なし</h3></ng-template>
    </ion-label>
  </ion-item>
</ion-list>
