<ion-content class="ion-padding flexCentering" *ngIf="initialized">
  <header class="logoWrapper flexCentering">
    <img class="logo" src="/assets/logo.svg" alt="logo">
  </header>
  <form class="form flexCentering" (ngSubmit)="login()">
    <ion-input
      class="input"
      color="light"
      placeholder="MEMBER CODE"
      name="memberCode"
      [(ngModel)]="memberCode"
    ></ion-input>
    <ion-input
      type="password"
      class="input"
      color="light"
      placeholder="PASSWORD"
      name="password"
      [(ngModel)]="password"
    ></ion-input>

    <ion-button
      (click)="login()"
      type="submit"
      class="submit"
      color="dark"
      expand="full"
      [disabled]="memberCode === '' || password === '' || loading"
    >LOGIN
    </ion-button>
  </form>
</ion-content>
