ion-content {
  --background: #008ffe;
}

ion-list {
  --background: none;
}

.flexCentering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoWrapper {
  margin-top: 64px;
}

.logo {
  height: 180px;
}

.form {
  margin-top: 32px;
}

.input {
  max-width: 240px;
  border-bottom: 1px solid #fff;
  margin-top: 24px;
}

.input:first-child {
  margin-top: 0;
}

.submit {
  margin-top: 32px;
  max-width: 240px;
  width: 100%;
}